.room__lux {
  background-color: $background-light-lemon;
}

.room__lux > .container {
  padding: 32px 15px;

  @include tablet {
    padding: 62px 47px;
    background-image: linear-gradient(
      to right,
      $background-light-lemon 278px,
      rgba(186, 186, 186, 0.4) 279px,
      $background-light-lemon 280px,
      $background-light-lemon 511px,
      rgba(186, 186, 186, 0.4) 512px,
      $background-light-lemon 513px,
      $background-light-lemon 745px,
      rgba(186, 186, 186, 0.4) 746px,
      $background-light-lemon 747px
    );
  }
  @include desktop {
    padding: 72px 85px;
    background-image: linear-gradient(
      to right,
      $background-light-lemon 338px,
      rgba(186, 186, 186, 0.4) 339px,
      $background-light-lemon 340px,
      $background-light-lemon 639px,
      rgba(186, 186, 186, 0.4) 640px,
      $background-light-lemon 641px,
      $background-light-lemon 941px,
      rgba(186, 186, 186, 0.4) 942px,
      $background-light-lemon 943px
    );
  }
}
.room__double {
  background-color: $background-light-lemon;
}
.room__double > .container {
  // background-color: $background-light-lemon;
  padding: 32px 15px;

  @include tablet {
    padding: 62px 47px;
    background-image: linear-gradient(
      to right,
      $background-light-lemon 278px,
      rgba(186, 186, 186, 0.4) 279px,
      $background-light-lemon 280px,
      $background-light-lemon 511px,
      rgba(186, 186, 186, 0.4) 512px,
      $background-light-lemon 513px,
      $background-light-lemon 745px,
      rgba(186, 186, 186, 0.4) 746px,
      $background-light-lemon 747px
    );
  }
  @include desktop {
    padding: 72px 85px;
    background-image: linear-gradient(
      to right,
      $background-light-lemon 338px,
      rgba(186, 186, 186, 0.4) 339px,
      $background-light-lemon 340px,
      $background-light-lemon 639px,
      rgba(186, 186, 186, 0.4) 640px,
      $background-light-lemon 641px,
      $background-light-lemon 941px,
      rgba(186, 186, 186, 0.4) 942px,
      $background-light-lemon 943px
    );
  }
}
.room__triple {
  background-color: $background-dark-lemon;
}

.room__triple > .container {
  // background-color: $background-dark-lemon;
  padding: 32px 15px;
  @include tablet {
    padding: 62px 47px;
    background-image: linear-gradient(
      to right,
      $background-dark-lemon 278px,
      rgba(186, 186, 186, 0.4) 279px,
      $background-dark-lemon 280px,
      $background-dark-lemon 511px,
      rgba(186, 186, 186, 0.4) 512px,
      $background-dark-lemon 513px,
      $background-dark-lemon 745px,
      rgba(186, 186, 186, 0.4) 746px,
      $background-dark-lemon 747px
    );
  }
  @include desktop {
    padding: 72px 85px;
    background-image: linear-gradient(
      to right,
      $background-dark-lemon 338px,
      rgba(186, 186, 186, 0.4) 339px,
      $background-dark-lemon 340px,
      $background-dark-lemon 639px,
      rgba(186, 186, 186, 0.4) 64px,
      $background-dark-lemon 641px,
      $background-dark-lemon 941px,
      rgba(186, 186, 186, 0.4) 940px,
      $background-dark-lemon 943px
    );
  }
}
.room__description {
  margin-bottom: 32px;
  @include tablet {
    margin-right: 26px;
  }
  @include desktop {
    margin-right: 48px;
  }
}
.room__triple .room__description {
  margin-left: 45px;
  text-align: end;
}
.rooms__list,
.room__logo,
.room__detal {
  list-style: none;
  text-decoration: none;
}
.room__title {
  font-family: $times-font;
  @include font(24px, 1.17, 700, 0.05em);
  color: $black;
  margin-top: 32px;
  margin-bottom: 12px;
  text-transform: uppercase;
  @include tablet {
    @include font(30px, 1.13, 700, 0.05em);
    margin-top: 62px;
    margin-bottom: 16px;
  }
  @include desktop {
    @include font(36px, 1.13, 700, 0.05em);
    margin-top: 72px;
    margin-bottom: 24px;
  }
}
.room__triple .room__title {
  text-align: end;
}
.room__pre-logo {
  font-family: $times-font;
  @include font(20px, 1.15, 400, null);
  color: #b4b4b4;
  margin-bottom: 8px;
  @include tablet {
    @include font(32px, 1.16, 400, null);
    margin-bottom: 4px;
  }
}
.room__triple .room__pre-logo {
  text-align: end;
}
.room__text {
  font-family: $montserrat-font;
  @include font(12px, 1.25, 600, 0.02em);
  color: $main-text-color;
  margin-bottom: 32px;
  max-width: 242px;
  @include tablet {
    max-width: 439px;
    @include font(16px, 1.25, 600, 0.02em);
  }
  @include desktop {
    max-width: 400px;
  }
}
.room__triple .room__text {
  margin: 0 auto;
  text-align: start;
}
.room__detal {
  margin-bottom: 16px;
  max-width: 236px;
}
.room__logo {
  font-family: $film-font;
  @include font(40px, 1.07, 700, 0.3em);
  color: $contact-text-color;
  text-transform: uppercase;
  @include tablet {
    @include font(64px, 1.07, 700, 0.3em);
  }
}
.room__triple .room__logo {
  text-align: end;
}
.low__letter {
  text-transform: lowercase;
}
.room__bedroom {
  box-shadow: $picture-shadow;
  border-radius: 2px;
  width: 246px;
  background-color: #dadada;
  margin-left: auto;
  @include tablet {
    width: 400px;
    margin-top: -94px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  @include desktop {
    width: 460px;
    margin-top: -104px;
  }
}
.room__triple .room__bedroom {
  margin-left: 0px;
}
.room {
  @include tablet {
    display: flex;
  }
}
.room__triple .room {
  flex-direction: row-reverse;
}

.room__slider {
  height: 194px;
}
// .btn {
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   @include tablet {
//     margin-right: 0;
//   }
// }
.room__triple .room__detal,
.room__triple .room__price {
  @include tablet {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }
}
// .btn:hover,
// .btn:focus {
//   background-color: $white;
//   border: 2px solid $accent-color;
//   border-radius: 25px;
// }

.room__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width:$tablet) {
    padding-top: 50px;
  }

  @media screen and(min-width:$desktop) {
    padding-top: 80px;
  }
}

.room__thumb {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    margin-top: 48px;
  }
  &--reverse {
    flex-direction: column;
    @media screen and(min-width:$tablet) {
      flex-direction: row-reverse;
    }
  }
}
