.contacts {
  background-color: $background-light-lemon;
}
.contacts-container {
  padding-top: 36px;
  padding-bottom: 30px;
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 40px;
  }
}

.logo-link {
  display: block;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-decoration: none;

  font-family: 'FilmP3', sans-serif;
  @include font(40px, 1.07, 700, 0.3em);
  color: $contact-text-color;

  @include tablet {
    margin-bottom: 8px;
    @include font(64px, 1.08, 700, 0.3em);
  }
  @include desktop {
    margin-bottom: 16px;
  }
}
.contacts-list {
  list-style: none;
}
.contacts__title {
  margin-bottom: 16px;

  font-family: 'Montserrat', sans-serif;
  @include font(14px, 1.25, 600, 0.02em);
  color: $main-text-color;
  @include mobile {
    @include font(16px, 1.25, 600, 0.02em);
  }
  @include tablet {
    margin-bottom: 52px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}

.contacts-item {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 16px;
  @include mobile {
    gap: 22px;
  }

  @include tablet {
    display: block;
    margin-bottom: 24px;
    width: 147px;

    &:nth-child(2) {
      margin-bottom: 48px;
      width: 265px;
    }
    &:last-child {
      margin-bottom: 0;
      width: 285px;
    }
  }
}
.contacts__text {
  font-family: 'Montserrat', sans-serif;
  @include font(14px, 1.2, 500, 0.02em);
  color: $brown-text-color;
  width: 70px;
  @include mobile {
    width: 102px;
    @include font(20px, 1.2, 500, 0.02em);
  }

  margin-bottom: 16px;
  @include tablet {
    display: block;
    margin-bottom: 24px;
    width: 145px;

    &:nth-child(2) {
      margin-bottom: 48px;
      width: 265px;
    }
    &:last-child {
      margin-bottom: 0;
      width: 285px;
    }
  }
}
.contacts__text {
  font-family: 'Montserrat', sans-serif;
  @include font(14px, 1.2, 500, 0.02em);
  color: #c79002;
  width: 102px;
  @include mobile {
    @include font(20px, 1.2, 500, 0.02em);
  }

  @include tablet {
    margin-bottom: 8px;
  }
}

.phone-wrap {
  display: flex;
  align-items: center;

  border: 0.5px solid $accent-color;
  border-radius: 2px;
  background-color: $white;
  padding: 9px 8px 7px 8px;
}
.contact-icon {
  margin-right: 8px;
  fill: $brown-text-color;
}

.phone-text {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: $contact-text-color;
  @include font(10px, 1.21, 400, 0.02em);
  @include mobile {
    @include font(14px, 1.21, 400, 0.02em);
  }

  &:nth-child(3) {
    margin-left: 11px;
  }
}
.address {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 87px;
  border: 0.5px solid $accent-color;
  border-radius: 2px;
  background-color: $white;
  padding: 8px 33px 7px 10px;
  width: 203px;
  @include mobile {
    width: 260px;
    margin-left: auto;
  }

  @include tablet {
    margin-left: 0;
    width: 285px;
    padding-right: 8px;
  }
}

.address-link {
  text-decoration: none;
  width: 140px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  @include font(10px, 1.21, 400, 0.01em);

  @include mobile {
    width: 183px;
    @include font(16px, 1.21, 400, 0.01em);
  }

  color: $contact-text-color;
  @include tablet {
    width: 233px;
  }
}
.address-icon {
  fill: $brown-text-color;
}

.location {
  width: 100%;
  border: $picture-border;
  box-shadow: $picture-shadow;
  border-radius: 2px;
  @include mobile {
    // display: block;
    // margin-top: 13px;
    width: 384px;
    height: 220px;
    object-fit: cover;
  }
  @include tablet {
    // display: block;
    margin-top: 13px;
    width: 535px;
    height: 412px;
    object-fit: cover;
  }
  @include desktop {
    // display: block;
    margin-top: 8px;
    width: 634px;
    height: 412px;
    object-fit: cover;
  }
}
