table,
tbody,
caption,
tfoot,
thead,
tr,
th,
td {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-style: inherit;
   vertical-align: baseline;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
}

.menu {
   background-color: $background-light-lemon;
   padding: 32px 0;

   @include tablet {
   padding: 58px 0 40px 0;
   }
   @include desktop {
   padding: 58px 0 60px 0;
   }
}

.menu__title {
   font-family: $times-font;
   font-weight: 700;
   font-size: 32px;
   line-height: 1.15;
   color: $black;
}

.menu__subtitle {
   font-family: $times-font;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
   margin: 16px 0;
   text-align: left;
   color: $black;

   @include tablet {
   margin: 20px 0;
   }
   @include desktop {
   font-size: 24px;
   line-height: 1.16;
   }
}

.menu__subtitle.first--sub {
   margin-top: 0;
}

.menu__subtitle.first--sub,
.menu__subtitle.second--sub {
   @include tablet {
   margin-top: 0;
   }
   @include desktop {
      margin-top: 0;
   }
}

.menu__name,
th {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.21;
   letter-spacing: 0.02em;
   margin: 0 0 4px 0;
   color: $black;

   @include desktop {
   font-size: 16px;
   line-height: 1.25;
   }
}

.menu__name.long {
   @include desktop {
   width: 291px;
   }
}

.menu__text {
   font-weight: 400;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 0.02em;

   color: $black;

   @include desktop {
   width: 100%;
   }
}

.menu__text.last {
   margin-bottom: 0;
}

.menu__text.short {
   max-width: 210px;
   margin-left: 0;

   @include desktop {
      min-width: 270px;
   }
}

.menu__text.long {
   width: 225px;

   @include desktop {
   min-width: 262px;
   }
}

.menu__amount {
   font-weight: 300;
   font-size: 14px;
   line-height: 1.2;

   letter-spacing: 0.02em;
   color: $black;
   margin: 0;
   vertical-align: middle;
}

.menu__price {
   font-size: 14px;
   line-height: 1.2;

   letter-spacing: 0.02em;
   color: $black;
   font-weight: 700;
   margin: 0 0 0 32px;

   margin-right: 0;
   vertical-align: middle;

   @include tablet {
   margin: 0 0 0 47px;
   }

   @include desktop {
   margin: 0 0 0 60px;
   font-size: 16px;
   line-height: 1.25;
   }
}

.menu__name-wrap {
   max-width: 221px;

   @media screen and (max-width: 413px) {
   margin-right: auto;
   }

   @include tablet {
   max-width: 226px;
   }

   @include desktop {
   max-width: 258px;
   margin-right: 45px;
   }
}

.menu__deserts-name,
.menu__drinks-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   margin-left: 0;

   color: $black;
}

.menu__item.deserts,
.menu__item.drinks {
   display: flex;
   justify-content: space-between;
   margin: 0 0 8px 0;

   @include desktop {
   margin-bottom: 12px;
   }
}

.menu__item:last-child {
   margin-bottom: 0;
}

.menu__deserts-list .menu__item.deserts:last-child {
   margin-bottom: 0;
}

.menu__item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
   margin: 0;
   margin: 0 0 8px 0;

   @include desktop {
   margin-bottom: 12px;
   }
}

.menu__deserts-name.last,
.menu__drinks-name.last {
   margin: 0;
}

.btn-menu {
   display: block;
   margin: 0 auto;
   margin-top: 32px;
   padding: 15px 24px;

   font-family: inherit;
   height: 50px;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.09em;
   text-transform: uppercase;

   min-width: 236px;
   height: 50px;

   background-color: $black;
   border-radius: 25px;
   border: 2px solid $background-light-lemon;
   cursor: pointer;

   color: $accent-color;
   transition: color 250ms $main-transtition-timing-function,
      border 250ms $main-transtition-timing-function;

   &:hover,
   &:focus {
   background: $white;
   border: 2px solid $accent-color;
   }

   @include tablet {
   margin-right: 0;
   }
}

.menu__wrap {
   margin-top: 32px;

   @include tablet {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   }
}

.menu__list-wrap.second {
   @include tablet {
   width: 430px;
   }
   @include desktop {
   width: 485px;
   }
}

.menu__list-wrap.first {
   @include tablet {
   width: 411px;
   margin-right: 88px;
   }

   @include desktop {
      width: 485px;
      margin-right: 140px;
   }
}
