<section class="hero">
  <div class="container">
    <div class="hero-cont-adress">
      <a
        href="https://goo.gl/maps/vMCubd3Gxp5PtPiZ6"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="hero-adress"
        name="Mimino-adress"
        ><svg width="10px" height="16px" class="hero-adress__icon">
          <use href="/src/images/icons/icons_footer.svg#icon_nav"></use></svg
        >Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15</a
      >
    </div>
    <h1 class="hero-tittle">mimiho</h1>
    <p class="hero-about">Ресторанно-готельний комплекс</p>
    <p class="hero-taste">Смак життя 24/7</p>
    <div class="hero-btn-container">
      <button type="button" class="btn btn--hero" data-modal-open>
        Забронювати столик
      </button>
      <button
        type="button"
        class="btn btn--hero animate__animated animate__pulse animate__infinite animate__slower"
        data-modal-room-open
      >
        Забронювати номер
      </button>
    </div>

    <ul class="hero-soc">
      <li class="hero-soc__item">
        <a
          href="https://instagram.com/mimino_khinkali?igshid=YmMyMTA2M2Y="
          class="hero-soc__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          name="instagram-page"
        >
          <svg class="hero-soc__icon" width="24" height="24">
            <use
              href="/src/images/icons/icons_footer.svg#icons_instagram"
            ></use></svg
        ></a>
      </li>
      <li class="hero-soc__item">
        <a
          href="https://www.facebook.com/profile.php?id=100042500415407"
          class="hero-soc__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          name="facebook-page"
        >
          <svg class="hero-soc__icon" width="24" height="24">
            <use
              href="/src/images/icons/icons_footer.svg#icons_facebook"
            ></use></svg
        ></a>
      </li>
      <li class="hero-soc__item">
        <a
          href="https://t.me/miminocalling"
          class="hero-soc__link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          name="telegram-chanel"
        >
          <svg class="hero-soc__icon" width="24" height="24">
            <use
              href="/src/images/icons/icons_footer.svg#icons_telegram"
            ></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
