<section class="main-page-about-hotel">
  <div class="about-hotel">
    <div class="container container--lines">
      <h2 class="visually-hidden">About hotel</h2>
      <div class="about-hotel__wrap">
        <div class="about-hotel__wrapper">
          <p class="about-hotel__text">Amet minim mollit non</p>
          <p class="about-hotel__mimino">MIMINO</p>
          <p class="about-hotel__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.Velit officia consequat duis enim velit mollit.Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div
          class="bedroom-image__thumb wow animate__animated animate__fadeInTopLeft"
        >
          <picture class="about-hotel__picture">
            <source
              srcset="
                ./images/about/studio-bedroom.webp    1x,
                ./images/about/studio-bedroom_2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
              width="460"
            />

            <source
              srcset="
                ./images/about/studio-bedroom400.webp    1x,
                ./images/about/studio-bedroom400_2x.webp 2x
              "
              media="(min-width: 1024px)"
              type="image/webp"
              width="400"
            />

            <source
              srcset="
                ./images/about/studio-bedroom244.webp    1x,
                ./images/about/studio-bedroom244_2x.webp 2x
              "
              media="(min-width: 414px)"
              type="image/webp"
              width="244"
            />

            <source
              srcset="
                ./images/about/studio-bedroom.jpg    1x,
                ./images/about/studio-bedroom@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
              width="460"
            />
            <source
              srcset="
                ./images/about/studio-bedroom400.jpg    1x,
                ./images/about/studio-bedroom400@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
              width="400"
            />
            <source
              srcset="
                ./images/about/studio-bedroom244.jpg    1x,
                ./images/about/studio-bedroom244@2x.jpg 2x
              "
              media="(min-width: 414px)"
              type="image/jpeg"
              width="244"
            />
            <img
              src="./images/about/studio-bedroom.jpg"
              alt="Зображення спальні"
            />
          </picture>
        </div>
      </div>
      <div class="about-hotel__cover">
        <p class="about-hotel__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div
          class="hotel-image__thumb wow animate__animated animate__fadeInBottomRight"
        >
          <picture class="about-hotel__picture">
            <source
              srcset="
                ./images/about/hotel.webp    1x,
                ./images/about/hotel_2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
              width="460"
            />

            <source
              srcset="
                ./images/about/hotel350.webp    1x,
                ./images/about/hotel350_2x.webp 2x
              "
              media="(min-width: 1024px)"
              type="image/webp"
              width="350"
            />

            <source
              srcset="
                ./images/about/hotel200.webp    1x,
                ./images/about/hotel200_2x.webp 2x
              "
              media="(min-width: 414px)"
              type="image/webp"
              width="200"
            />

            <source
              srcset="
                ./images/about/hotel.jpg    1x,
                ./images/about/hotel@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
              width="460"
            />
            <source
              srcset="
                ./images/about/hotel350.jpg    1x,
                ./images/about/hotel350@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
              width="350"
            />
            <source
              srcset="
                ./images/about/hotel200.jpg    1x,
                ./images/about/hotel200@2x.jpg 2x
              "
              media="(min-width: 414px)"
              type="image/jpeg"
              width="200"
            />
            <img
              src="./images/about/hotel.jpg"
              alt="Зображення готелю"
              width="460"
            />
          </picture>
        </div>
      </div>

      <div class="swiper-mini swiper-mini__reverse">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper swiper-wrapper-mini">
          <!-- Slides -->
          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-6-desc.webp    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-6-desc@2х.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-6-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-6-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-6-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-6-mob@2x.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <!-- jpeg -->
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-6-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-6-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-6-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-6-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-6-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-6-mob@2x.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-6-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-7-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-7-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-7-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-7-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-7-mob.jpeg   1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-7-mob@2x.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-7-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-1-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-1-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-1-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-1-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-1-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-1-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-1-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-2-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-2-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-2-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-2-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-2-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-2-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-2-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-3-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-3-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-3-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-3-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-3-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-3-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-3-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-4-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-4-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-4-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-4-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-4-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-4-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-4-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-5-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-5-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-5-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-5-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-5-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-5-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-5-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-10-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-10-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-10-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-10-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-10-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-10-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-10-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-11-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-11-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-11-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-11-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-11-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-11-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-11-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-12-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-12-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-12-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-12-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-12-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-12-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-12-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-13-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-13-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-13-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-13-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-13-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-13-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-13-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>
          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-desktop/img-14-desc.jpg    1x,
                  ./images/main-page/about-hotel-slider/slider-desktop/img-14-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-tablet/img-14-tabl.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-tablet/img-14-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-hotel-slider/slider-mob/img-14-mob.jpeg    1x,
                  ./images/main-page/about-hotel-slider/slider-mob/img-14-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-hotel-slider/slider-mob/img-14-mob.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>
        </div>

        <div class="swiper-button-prev-mini">
          <svg width="32" height="32">
            <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next-mini">
          <svg width="32" height="32">
            <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
