<section class="main-page-about-restaurant">
  <div class="about-restaurant">
    <div class="container container--lines">
      <h2 class="visually-hidden">About restaurant</h2>
      <div class="about-restaurant__wrap">
        <div class="about-restaurant__wrapper">
          <p class="about-restaurant__text">Amet minim mollit non</p>
          <p class="about-restaurant__mimino">MIMINO</p>
          <p class="about-restaurant__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.Velit officia consequat duis enim velit mollit.Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div
          class="restaurant-image__thumb wow animate__animated animate__fadeInTopRight"
        >
          <picture class="about-restaurant__picture">
            <source
              srcset="
                ./images/about/restaurant.webp    1x,
                ./images/about/restaurant_2x.webp 2x
              "
              media="(min-width: 1280px)"
              type="image/webp"
              width="460"
            />

            <source
              srcset="
                ./images/about/restaurant400.webp    1x,
                ./images/about/restaurant400_2x.webp 2x
              "
              media="(min-width: 1024px)"
              type="image/webp"
              width="400"
            />

            <source
              srcset="
                ./images/about/restaurant244.webp    1x,
                ./images/about/restaurant244_2x.webp 2x
              "
              media="(min-width: 414px)"
              type="image/webp"
              width="244"
            />

            <source
              srcset="
                ./images/about/restaurant.jpg    1x,
                ./images/about/restaurant@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              type="image/jpeg"
              width="460"
            />

            <source
              srcset="
                ./images/about/restaurant400.jpg    1x,
                ./images/about/restaurant400@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              type="image/jpeg"
              width="400"
            />
            <source
              srcset="
                ./images/about/restaurant244.jpg    1x,
                ./images/about/restaurant244@2x.jpg 2x
              "
              media="(min-width: 414px)"
              type="image/jpeg"
              width="244"
            />
            <img
              src="./images/about/restaurant.jpg"
              alt="Зображення ресторану"
              width="460"
            />
          </picture>
        </div>
      </div>

      <div class="about-restaurant__cover">
        <div
          class="hall-image__thumb wow animate__animated animate__fadeInBottomLeft"
        >
          <picture class="about-restaurant__picture">
            <source
              srcset="./images/about/hall.jpg 1x, ./images/about/hall@2x.jpg 2x"
              media="(min-width: 1280px)"
              width="460"
            />
            <source
              srcset="
                ./images/about/hall350.jpg    1x,
                ./images/about/hall350@2x.jpg 2x
              "
              media="(min-width: 1024px)"
              width="350"
            />
            <source
              srcset="
                ./images/about/hall200.jpg    1x,
                ./images/about/hall200@2x.jpg 2x
              "
              media="(min-width: 414px)"
              width="200"
            />
            <img
              src="./images/about/hall.jpg"
              alt="Зображення холу"
              width="460"
            />
          </picture>
        </div>
        <p class="about-restaurant__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="swiper-mini">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper swiper-wrapper-mini">
          <!-- Slides -->
          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-1-desc.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-1-desc_2х.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-1-tabl_1.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-1-tabl_2x_1.webp 2x
                "
                media="(min-width: 1024px)"
                type="image/webp"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-mob/img-1-mob.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-mob/img-1-mob_2х.webp 2x
                "
                media="(min-width: 414px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-1-desc.jpg    1x,
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-1-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-1-tabl.jpg    1x,
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-1-tabl@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-mob/img-1-mob.jpg    1x,
                  ./images/main-page/about-resraurant-slider/slider-mob/img-1-mob@2х.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-resraurant-slider/slider-mob/img-1-mob@2х.jpg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
          >
            <picture>
              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-2-desc.webp      1x,
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-2-desc_2х_1.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-2-tabl_1.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-2-tabl_2x_1.webp 2x
                "
                media="(min-width: 1024px)"
                type="image/webp"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-mob/img-2-mob.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-mob/img-2-mob_2х.webp 2x
                "
                media="(min-width: 414px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-2-desc.jpg    1x,
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-2-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-2-tabl.jpg    1x,
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-2-tabl@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-mob/img-2-mob.jpg    1x,
                  ./images/main-page/about-resraurant-slider/slider-mob/img-2-mob@2х.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-resraurant-slider/slider-mob/img-2-mob@2х.jpg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div class="swiper-slide swiper-slide-mini">
            <picture>
              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-6-desc.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-6-desc_2х.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-6-tabl.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-6-tabl_2х.webp 2x
                "
                media="(min-width: 1024px)"
                type="image/webp"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-mob/img-6-mob.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-mob/img-6-mob_2х.webp 2x
                "
                media="(min-width: 414px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-6-desc.jpg    1x,
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-6-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-6-tabl.jpeg    1x,
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-6-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/webp"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-mob/img-6-mob.jpeg    1x,
                  ./images/main-page/about-resraurant-slider/slider-mob/img-6-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-resraurant-slider/slider-mob/img-6-mob@2х.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>

          <div class="swiper-slide swiper-slide-mini">
            <picture>
              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-7-desc.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-7-desc_2х.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-7-tabl.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-7-tabl_2х.webp 2x
                "
                media="(min-width: 1024px)"
                type="image/webp"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-mob/img-7-mob.webp    1x,
                  ./images/main-page/about-resraurant-slider/slider-mob/img-7-mob_2х.webp 2x
                "
                media="(min-width: 414px)"
                type="image/webp"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-7-desc.jpg    1x,
                  ./images/main-page/about-resraurant-slider/slider-desktop/img-7-desc@2х.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-7-tabl.jpeg    1x,
                  ./images/main-page/about-resraurant-slider/slider-tablet/img-7-tabl@2х.jpeg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/main-page/about-resraurant-slider/slider-mob/img-7-mob.jpeg    1x,
                  ./images/main-page/about-resraurant-slider/slider-mob/img-7-mob@2х.jpeg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/main-page/about-resraurant-slider/slider-mob/img-7-mob@2х.jpeg"
                alt="image"
                width="245"
              />
            </picture>
          </div>
        </div>

        <div class="swiper-button-prev-mini">
          <svg width="32" height="32">
            <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next-mini">
          <svg width="32" height="32">
            <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
