<section class="about-restaurant section">
  <div class="about container">
    <h2 class="visually-hidden">About restaurant</h2>
    <h4 class="about__header">Amet minim mollit non</h4>
    <h3 class="about__logo">MIMIHO</h3>
    <p class="about__title title">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture class="about__picture wow animate__animated animate__slideInRight">
      <source
        srcset="
          ./images/about/restaurant.jpg    1x,
          ./images/about/restaurant@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/about/restaurant400.jpg    1x,
          ./images/about/restaurant400@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./images/about/restaurant244.jpg    1x,
          ./images/about/restaurant244@2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="about__image"
        src="./images/about/restaurant.jpg"
        alt="restaurant"
      />
    </picture>
    <div class="thumb">
      <picture
        class="about__picture wow animate__animated animate__slideInLeft"
      >
        <source
          srcset="./images/about/hall.jpg 1x, ./images/about/hall@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/about/hall350.jpg    1x,
            ./images/about/hall350@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/about/hall200.jpg    1x,
            ./images/about/hall200@2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="about__image--second"
          src="./images/about/hall.jpg"
          alt="hall"
        />
      </picture>
      <p class="about__title--gold">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="swiper-mini">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper swiper-wrapper-mini">
        <!-- Slides -->
        <div
          class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
        >
          <picture>
            <source
              srcset="
                ./images/slider-mini/slider-desktop/img-1-desc.webp    1x,
                ./images/slider-mini/slider-desktop/img-1-desc@2x.webp 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/slider-mini/slider-desktop/img-1-desc.jpg    1x,
                ./images/slider-mini/slider-desktop/img-1-desc@2х.jpg 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />

            <source
              srcset="
                ./images/slider-mini/slider-tablet/img-1-tabl.webp    1x,
                ./images/slider-mini/slider-tablet/img-1-tabl@2х.webp 2x
              "
              sizes="(width: 194px)"
              media="(min-width: 1024px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/slider-mini/slider-tablet/img-1-tabl.jpeg    1x,
                ./images/slider-mini/slider-tablet/img-1-tabl@2х.jpeg 2x
              "
              sizes="(width: 194px)"
              media="(min-width: 1024px)"
              type="image/jpeg"
            />

            <source
              srcset="
                ./images/slider-mini/slider-mob/img-1-mob.webp    1x,
                ./images/slider-mini/slider-mob/img-1-mob@2х.webp 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 320px)"
              type="image/webp"
            />

            <img
              src="./images/slider-mini/slider-mob/img-1-mob.jpeg"
              alt="image"
            />
          </picture>
        </div>

        <div
          class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
        >
          <picture>
            <source
              srcset="
                ./images/slider-mini/slider-desktop/img-2-desc.webp    1x,
                ./images/slider-mini/slider-desktop/img-2-desc@2x.webp 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/slider-mini/slider-desktop/img-2-desc.jpg    1x,
                ./images/slider-mini/slider-desktop/img-2-desc@2х.jpg 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />

            <source
              srcset="
                ./images/slider-mini/slider-tablet/img-2-tabl.webp    1x,
                ./images/slider-mini/slider-tablet/img-2-tabl@2х.webp 2x
              "
              sizes="(width: 194px)"
              media="(min-width: 1024px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/slider-mini/slider-tablet/img-2-tabl.jpeg    1x,
                ./images/slider-mini/slider-tablet/img-2-tabl@2х.jpeg 2x
              "
              sizes="(width: 194px)"
              media="(min-width: 1024px)"
              type="image/jpeg"
            />

            <source
              srcset="
                ./images/slider-mini/slider-mob/img-2-mob.webp    1x,
                ./images/slider-mini/slider-mob/img-2-mob@2х.webp 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 320px)"
              type="image/webp"
            />

            <img
              src="./images/slider-mini/slider-mob/img-2-mob.jpeg"
              alt="image"
            />
          </picture>
        </div>

        <div class="swiper-slide swiper-slide-mini">
          <picture>
            <source
              srcset="
                ./images/slider-mini/slider-desktop/img-3-desc.webp    1x,
                ./images/slider-mini/slider-desktop/img-3-desc@2x.webp 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/slider-mini/slider-desktop/img-3-desc.jpg    1x,
                ./images/slider-mini/slider-desktop/img-3-desc@2х.jpg 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />

            <source
              srcset="
                ./images/slider-mini/slider-tablet/img-3-tabl.webp    1x,
                ./images/slider-mini/slider-tablet/img-3-tabl@2х.webp 2x
              "
              sizes="(width: 194px)"
              media="(min-width: 1024px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/slider-mini/slider-tablet/img-3-tabl.jpeg    1x,
                ./images/slider-mini/slider-tablet/img-3-tabl@2х.jpeg 2x
              "
              sizes="(width: 194px)"
              media="(min-width: 1024px)"
              type="image/jpeg"
            />

            <source
              srcset="
                ./images/slider-mini/slider-mob/img-3-mob.webp    1x,
                ./images/slider-mini/slider-mob/img-3-mob@2х.webp 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 320px)"
              type="image/webp"
            />

            <img
              src="./images/slider-mini/slider-mob/img-3-mob.jpeg"
              alt="image"
            />
          </picture>
        </div>

        <div class="swiper-slide swiper-slide-mini">
          <picture>
            <source
              srcset="
                ./images/slider-mini/slider-desktop/img-4-desc.webp    1x,
                ./images/slider-mini/slider-desktop/img-4-desc@2x.webp 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 1280px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/slider-mini/slider-desktop/img-4-desc.jpg    1x,
                ./images/slider-mini/slider-desktop/img-4-desc@2х.jpg 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 1280px)"
              type="image/jpeg"
            />

            <source
              srcset="
                ./images/slider-mini/slider-tablet/img-4-tabl.webp    1x,
                ./images/slider-mini/slider-tablet/img-4-tabl@2х.webp 2x
              "
              sizes="(width: 194px)"
              media="(min-width: 1024px)"
              type="image/webp"
            />

            <source
              srcset="
                ./images/slider-mini/slider-tablet/img-4-tabl.jpeg    1x,
                ./images/slider-mini/slider-tablet/img-4-tabl@2х.jpeg 2x
              "
              sizes="(width: 194px)"
              media="(min-width: 1024px)"
              type="image/jpeg"
            />

            <source
              srcset="
                ./images/slider-mini/slider-mob/img-4-mob.webp    1x,
                ./images/slider-mini/slider-mob/img-4-mob@2х.webp 2x
              "
              sizes="(width: 245px)"
              media="(min-width: 320px)"
              type="image/webp"
            />

            <img
              src="./images/slider-mini/slider-mob/img-4-mob.jpeg"
              alt="image"
            />
          </picture>
        </div>
      </div>

      <div class="swiper-button-prev-mini">
        <svg width="32" height="32">
          <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next-mini">
        <svg width="32" height="32">
          <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
  <div></div>
</section>
