<section class="contact">
  <div class="container">
    <div
      class="contact__wrap wow animate__animated wow about__picture animate__animated animate__zoomIn"
    >
      <h2 hidden>Контакти</h2>
      <h3 class="contact__title">MIMIHO</h3>
      <p class="contact__title-name">Ресторанно-готельний комплекс</p>
      <ul class="contact__list">
        <li class="contact__item">
          <p class="contact__text">Ресторан</p>

          <div class="contact__bloc-1">
            <a class="contact__bloc-text" href="tel:+380955559533">
              <svg class="contact__icon" Width="24px" height="24px">
                <use href="./images/icons/icons.svg#icon-phone"></use>
              </svg>
              095 555 95 33
            </a>
          </div>
        </li>
        <li class="contact__item">
          <p class="contact__text">Готель</p>

          <div class="contact__bloc-2">
            <a class="contact__bloc-text" href="tel:+380955559533">
              <svg class="contact__icon" Width="24px" height="24px">
                <use href="./images/icons/icons.svg#icon-phone"></use>
              </svg>
              066 849 10 89</a
            >
            <a class="contact__bloc-text" href="tel:+380672758540"
              >067 275 85 40</a
            >
          </div>
        </li>
        <li class="contact__item">
          <div class="contact__bloc-3">
            <a
              class="contact__bloc-text contact__location-text"
              href="tel:+380668491089"
            >
              <svg class="contact__icon-location" width="24px" height="24px">
                <use href="./images/icons/icons.svg#icon-location"></use>
              </svg>
              Україна, м. Полтава,<br />
              вул. Маршала Бірюзова, 15
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div
      class="contact__picture wow about__picture animate__animated animate__fadeInRight"
    ></div>
  </div>
</section>
