.swiper {
  position: absolute;
  background: linear-gradient(#000 0%, #0000008c 54.17%, #0000 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: 1;
  &__img {
    height: 100%;
    width: 100%;
  }
  &__icon {
    width: 37px;
    height: 37px;
    fill: $accent-color;
  }
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.65);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 143px;
  z-index: 2;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  @include tablet {
    height: 100px;
  }
  @include desktop {
    height: 147px;
  }
}

.container--hero-room {
  position: relative;
  // height: 740px;

  // @include tablet {
  //   height: 720px;
  // }
}

.hero-room-address {
  gap: 13px;
  position: absolute;
  z-index: 3;
  right: 15px;
  color: #e5e5e5;
  fill: $accent-color;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  width: 210px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  @media screen and (max-width: 1023px) {
    top: 65px;
  }

  @include tablet {
    width: 285px;
    height: 56px;
    left: 47px;
    bottom: 24px;
  }

  @include desktop {
    display: none;
  }
}

.hero-room-address__location {
  width: 20px;
  height: 20px;
  color: $accent-color;
  position: relative;
  z-index: 3;
}

.hero-room-address__icon {
  fill: currentColor;
}

.hero-room-address__text {
  text-decoration: none;
  color: #e5e5e5;
  @include font(12px, 15px, 400, 0.01em);

  @include tablet {
    @include font(16px, 20px, 400, 0.01em);
  }
}

.hero-room__content {
  margin-bottom: 17px;
  position: absolute;
  bottom: 118px;
  left: 15px;
  width: 325px;
  z-index: 3;
  text-stroke: 2px black;

  @include tablet {
    margin-bottom: 0;
    bottom: 104px;
    left: 47px;
    width: 507px;
  }
  @include desktop {
    bottom: 48px;
    left: 135px;
  }
}

.hero-room {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container--hero-room {
  height: 100%;
  padding-top: 483px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 468px;
    padding-bottom: 104px;
  }

  @include desktop {
    padding-top: 524px;
    padding-bottom: 48px;
  }
}

.hero-room-content {
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  position: relative;
  gap: 40px;

  @include tablet {
    align-items: flex-end;
  }
  @include desktop {
    align-items: center;
  }
}

.hero-room__title {
  font-family: $times-font;
  @include font(28px, 32px, 700, 0.05em);
  color: #ffffff;
  margin-bottom: 14px;
  @include tablet {
    @include font(36px, 41px, 700, 0.05em);
    margin-bottom: 24px;
  }
}

.hero-room__text {
  @include font(12px, 15px, 700, 0.02em);
  color: #ffffff;
  @include tablet {
    @include font(16px, 20px, 700, 0.05em);
    // margin-bottom: 24px;
    width: 400px;
  }
}

.btn--hero-room {
  margin-left: auto;
  height: 48px;
}

.hero-room-address {
  position: absolute;
  top: 65px;
  right: 15px;
  width: 210px;
  height: 47px;
  display: flex;
  align-items: center;
  gap: 13px;
  border-radius: 2px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  color: #e5e5e5;
  @include font(12px, 15px, 400, 0.01em);
  text-decoration: none;

  @include tablet {
    @include font(16px, 20px, 400, 0.01em);
    width: 285px;
    height: 56px;
    left: 47px;
    bottom: 24px;
    top: auto;
  }
  @include desktop {
    display: none;
  }
}

.hero-room-address__icon {
  fill: $accent-color;
}

.hero-room-socials {
  position: absolute;
  bottom: 14px;
  left: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
  @include tablet {
    left: 372;
    bottom: 38px;
    flex-direction: row;
  }
  @include desktop {
    display: none;
  }
}

.hero-room-socials__link {
  color: rgba(243, 198, 83, 0.7);
}

.hero-room-socials__icon {
  fill: currentColor;
}
