<footer class="">
  <div class="footer__backgraund">
    <div class="container footer__container lines-footer">
      <div class="footer__container-logo">
        <a href="/src/index.html" class="footer__logo link">MIMIHO</a>
      </div>
      <div class="footer__nav">
        <ul class="footer__list list">
          <li class="footer__item">
            <a href="./index.html" class="nav__link link">Головна</a>
          </li>
          <li class="footer__item">
            <a href="./restaurant.html" class="nav__link link">Ресторан</a>
          </li>
          <li class="footer__item">
            <a href="./hotel.html" class="nav__link link">Готель</a>
          </li>
        </ul>
        <div class="footer__wrap">
          <ul class="footer-soc list">
            <li class="footer-soc__item">
              <a
                href="https://www.instagram.com/mimino_khinkali/?igshid=YmMyMTA2M2Y="
                class="footer-soc__link link"
                name="footer-insta-link"
              >
                <p class="footer-soc__text">Instagram</p>
                <svg class="footer__icon" width="22" height="22">
                  <use
                    href="/src/images/icons/icons_footer.svg#icons_instagram"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc__item">
              <a
                href="https://www.facebook.com/profile.php?id=100042500415407"
                class="footer-soc__link link"
                name="footer-facebook-link"
              >
                <p class="footer-soc__text">Facebook</p>
                <svg class="footer__icon" width="22" height="22">
                  <use
                    href="/src/images/icons/icons_footer.svg#icons_facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc__item">
              <a
                href="https://t.me/miminocalling"
                class="footer-soc__link link"
                name="footer-telegram-link"
              >
                <p class="footer-soc__text">Telegram</p>
                <svg class="footer__icon" width="22" height="22">
                  <use
                    href="/src/images/icons/icons_footer.svg#icons_telegram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
