<header class="header" id="home">
  <div class="header-container">
    <a href="./index.html" class="header-logo link" name="main-page-link"
      >MIMIHO</a
    >
    <ul class="header-nav list">
      <li class="header-nav__item">
        <a
          href="./restaurant.html"
          class="header-nav__link link"
          name="restaurant-page-link"
          >Ресторан</a
        >
      </li>
      <li class="header-nav__item">
        <a
          href="0955559533"
          class="header-nav__contact link"
          name="phone-number"
        >
          <svg class="icon-contact-mobile" width="24" height="24">
            <use
              href="/src/images/icons/icons-header.svg#icon-contact-mobile"
            ></use>
          </svg>
          <p class="header-nav__tel">095 555 95 33</p>
        </a>
      </li>
      <li class="header-nav__item">
        <a
          href="./hotel.html"
          class="header-nav__link link"
          name="hotel-page-link"
          >Готель</a
        >
      </li>
      <li class="header-nav__item">
        <a
          href="0668491089"
          class="header-nav__contact link"
          name="secondary-phone"
        >
          <svg class="icon-contact-mobile" width="24" height="24">
            <use
              href="/src/images/icons/icons-header.svg#icon-contact-mobile"
            ></use>
          </svg>
          <p class="header-nav__tel margin-tel">066 849 10 89</p>
          <p class="header-nav__tel">067 275 85 40</p>
        </a>
      </li>
    </ul>
    <ul class="soc-list list">
      <li class="soc-list__item">
        <a
          href="https://instagram.com/mimino_khinkali?igshid=YmMyMTA2M2Y="
          class="soc-list__link link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          name="instagram"
        >
          <svg class="soc-list__icon" width="24" height="24">
            <use
              href="/src/images/icons/icons-header.svg#icon-instagram"
            ></use></svg
        ></a>
      </li>
      <li class="soc-list__item">
        <a
          href="https://www.facebook.com/profile.php?id=100042500415407"
          class="soc-list__link link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          name="facebook"
        >
          <svg class="soc-list__icon" width="24" height="24">
            <use
              href="/src/images/icons/icons-header.svg#icon-facebook"
            ></use></svg
        ></a>
      </li>
      <li class="soc-list__item">
        <a
          href="https://t.me/miminocalling"
          class="soc-list__link link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          name="telegram"
        >
          <svg class="soc-list__icon" width="24" height="24">
            <use
              href="/src/images/icons/icons-header.svg#icon-telegram"
            ></use></svg
        ></a>
      </li>
    </ul>
  </div>
</header>
