.modal-price {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 20px;
    padding: 15px 15px 60px 15px;
    border-radius: 2px;
    max-width: 414px;

    background-color: $background-light-lemon;
    transform: translate(-50%, 50%);

    z-index: 3;

    @include tablet {
        width: 712px;
        max-width: 712px;
        padding: 60px;
        transform: translate(-50%, 20%);
    }

    @include mobile {
        transform: translate(-50%, 10%);
    }

    @media screen and (max-width: 1023px) {
        transform: translate(-50%, 10%);
    }
}

.form-price__subtitle {
    margin-bottom: 28px;

    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #808080;
}

.form-price__text {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: $brown-text-color;
}

.form-price__input {
    width: 100%;
    max-width: 384px;
    height: 54px;
    margin-bottom: 8px;
    padding: 12px;

    border: 1px solid $brown-text-color;
    border-radius: 2px;
    outline: none;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
    color: #808080;

    cursor: pointer;
    background-color: $background-light-lemon;
}

