// ------------- style for page room header
.page-header.room-page {
  background: linear-gradient(#000 0%, #0000008c 54.17%, #0000 100%);
  @include desktop {
    width: $desktop;
    left: 50%;
    transform: translateX(-50%);
  }
}
//-------------Main-------------
.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 365px) {
      flex-direction: column;
    }
  }
}
.navigation {
  display: flex;
  padding: 28px 0 12px;

  @include tablet {
    padding: 30px 0 30px;
  }
  &__list {
    display: flex;
    // flex-wrap: wrap;
  }
  &__item:nth-child(odd) {
    margin-right: 6px;

    & .navigation__link {
      color: $accent-color;
      padding: 2px 0;
      @include tablet {
        padding: 8px;
      }
      @include desktop {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    @include tablet {
      margin-right: 32px;
    }
    .navigation__link:hover,
    .navigation__link:focus {
      @include desktop {
        color: $white;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    @include font(16px, 1.25, 500, 0.02);

    @include tablet {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  &__item:nth-child(even) {
    display: flex;
    align-items: center;
    margin-right: 20px;
    @include tablet {
      margin-right: 72px;
      border-radius: 2px;
      outline: 1px solid rgba($accent-color, 0.7);
    }
    & .navigation__link {
      @include tablet {
        padding: 8px;
      }
    }
    &:last-child {
      margin-right: 0;
      @include desktop {
        margin-right: 60px;
      }
    }
  }
  &__icon {
    color: $accent-color;
    @include tablet {
      margin-right: 14px;
    }
  }
  &__number {
    @include font(14px, 1.21, 400, 0.02);
    color: $white;
    display: none;
    @include tablet {
      display: inline-flex;
    }
  }
  & .social-list {
    display: none;
    @include desktop {
      display: flex;
    }
  }
}
//----------Utiliti class
.u-right {
  margin-left: auto;
}
.text-upper {
  text-transform: uppercase;
}
//-----------components for header and hero--------
//  LOGO

.logo {
  font-family: 'FilmP3';
  @include font(36px, 1.08, 700, 0.3em);
  text-transform: uppercase;
  color: $white;
  @include tablet {
    font-size: 40px;
  }
}
// ICON

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
// SOCIAL
.social-list {
  display: flex;
  align-items: center;
  &__item {
    height: 24px;
    width: 24px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    display: inline-flex;
    color: rgba($accent-color, 0.7);
    @include desktop {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
      @include desktop {
        color: rgba($white, 0.7);
      }
    }
  }
}
// Buttons
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $accent-color;
  min-width: 236px;
  padding: 12px 22px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  cursor: pointer;
  @include desktop {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    @include desktop {
      background-color: $white;
      border-color: $accent-color;
    }
  }
  &:active {
    @include desktop {
      border-color: $white;
    }
  }
}
// ---------reset
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
}
