<section class="rooms">
  <ul class="rooms__list">
    <li class="rooms__item container">
      <div class="rooms__wrap-top">
        <div class="rooms__desc-wrap">
          <p class="rooms__hotel-slogan">Amet minim mollit non</p>
          <p class="rooms__hotel-title">mimiho</p>
          <h2 class="rooms__title">
            двомісний номер &#32;<span class="rooms__title-low">люкс</span>
          </h2>
          <p class="rooms__desc">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet
          </p>
        </div>
        <picture
          class="rooms__img-wrap wow animate__animated animate__fadeInRight"
        >
          <source
            srcset="
              ./images/hotel-rooms/desktop/bedroom-d-1x.jpg 1x,
              ./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel-rooms/tablet/bedroom-t-1x.jpg 1x,
              ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/hotel-rooms/mobile/bedroom-m-1x.jpg 1x,
              ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="rooms__img"
            src="./images/hotel-rooms/desktop/bedroom-d-1x.jpg"
            alt="Двомісний номер люкс"
          />
        </picture>
      </div>
      <div class="rooms__wrap-bottom">
        <div class="swiper-mini swiper-mini__room swiper-mini__room--reverse">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper swiper-wrapper-mini">
            <!-- Slides -->
            <div
              class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
            >
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-1-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-1-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-1-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-1-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-1-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-1-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-1-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-1-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-1-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-1-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-1-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div
              class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
            >
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-2-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-2-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-2-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-2-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-2-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-2-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-2-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-2-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-2-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-2-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-2-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div class="swiper-slide swiper-slide-mini">
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-3-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-3-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-3-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-3-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-3-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-3-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-3-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-3-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-3-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-3-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-3-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div class="swiper-slide swiper-slide-mini">
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-4-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-4-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-4-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-4-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-4-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-4-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-4-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-4-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-4-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-4-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-4-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>
          </div>

          <div class="swiper-button-prev-mini">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next-mini s">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>

        <ul class="rooms__list-btn">
          <li class="rooms__item-btn">
            <button class="btn"><a href="./room.html">Детальніше</a></button>
          </li>
          <li class="rooms__item-btn">
            <button class="btn" data-modal-price-1-open>Переглянути ціни</button>
          </li>
        </ul>
      </div>
    </li>

    <li class="rooms__item container">
      <div class="rooms__wrap-top">
        <div class="rooms__desc-wrap">
          <p class="rooms__hotel-slogan">Amet minim mollit non</p>
          <p class="rooms__hotel-title">mimiho</p>
          <h2 class="rooms__title">трьохмісний номер</h2>
          <p class="rooms__desc">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet
          </p>
        </div>
        <picture
          class="rooms__img-wrap wow animate__animated animate__fadeInLeft"
        >
          <source
            srcset="
              ./images/hotel-rooms/desktop/bedroom-d-1x.jpg 1x,
              ./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel-rooms/tablet/bedroom-t-1x.jpg 1x,
              ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/hotel-rooms/mobile/bedroom-m-1x.jpg 1x,
              ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="rooms__img"
            src="./images/hotel-rooms/desktop/bedroom-d-1x.jpg"
            alt="Трьомісний номер"
          />
        </picture>
      </div>
      <div class="rooms__wrap-bottom">
        <div class="swiper-mini swiper-mini__room">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper swiper-wrapper-mini">
            <!-- Slides -->
            <div
              class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
            >
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-1-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-1-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-1-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-1-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-1-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-1-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-1-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-1-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-1-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-1-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-1-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div
              class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
            >
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-2-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-2-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-2-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-2-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-2-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-2-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-2-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-2-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-2-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-2-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-2-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div class="swiper-slide swiper-slide-mini">
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-3-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-3-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-3-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-3-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-3-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-3-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-3-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-3-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-3-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-3-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-3-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div class="swiper-slide swiper-slide-mini">
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-4-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-4-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-4-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-4-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-4-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-4-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-4-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-4-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-4-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-4-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-4-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>
          </div>

          <div class="swiper-button-prev-mini swiper-button-prev-mini__reverse">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next-mini swiper-button-prev-next__reverse">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>

        <ul class="rooms__list-btn">
          <li class="rooms__item-btn">
            <button class="btn"><a href="./room.html">Детальніше</a></button>
          </li>
          <li class="rooms__item-btn">
            <button class="btn" data-modal-price-3p-open>Переглянути ціни</button>
          </li>
        </ul>
      </div>
    </li>

    <li class="rooms__item container">
      <div class="rooms__wrap-top">
        <div class="rooms__desc-wrap">
          <p class="rooms__hotel-slogan">Amet minim mollit non</p>
          <p class="rooms__hotel-title">mimiho</p>
          <h2 class="rooms__title">двомісний номер</h2>
          <p class="rooms__desc">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet
          </p>
        </div>
        <picture
          class="rooms__img-wrap wow animate__animated animate__fadeInRight"
        >
          <source
            srcset="
              ./images/hotel-rooms/desktop/bedroom-d-1x.jpg 1x,
              ./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hotel-rooms/tablet/bedroom-t-1x.jpg 1x,
              ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/hotel-rooms/mobile/bedroom-m-1x.jpg 1x,
              ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="rooms__img"
            src="./images/hotel-rooms/desktop/bedroom-d-1x.jpg"
            alt="Двомісний номер"
          />
        </picture>
      </div>
      <div class="rooms__wrap-bottom">
        <div class="swiper-mini swiper-mini__room swiper-mini__room--reverse">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper swiper-wrapper-mini">
            <!-- Slides -->
            <div
              class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
            >
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-1-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-1-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-1-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-1-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-1-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-1-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-1-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-1-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-1-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-1-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-1-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div
              class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
            >
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-2-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-2-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-2-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-2-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-2-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-2-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-2-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-2-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-2-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-2-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-2-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div class="swiper-slide swiper-slide-mini">
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-3-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-3-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-3-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-3-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-3-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-3-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-3-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-3-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-3-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-3-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-3-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>

            <div class="swiper-slide swiper-slide-mini">
              <picture>
                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-4-desc.webp    1x,
                    ./images/slider-mini/slider-desktop/img-4-desc@2x.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-desktop/img-4-desc.jpg    1x,
                    ./images/slider-mini/slider-desktop/img-4-desc@2х.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-4-tabl.webp    1x,
                    ./images/slider-mini/slider-tablet/img-4-tabl@2х.webp 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/webp"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-tablet/img-4-tabl.jpeg    1x,
                    ./images/slider-mini/slider-tablet/img-4-tabl@2х.jpeg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/slider-mini/slider-mob/img-4-mob.webp    1x,
                    ./images/slider-mini/slider-mob/img-4-mob@2х.webp 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 320px)"
                  type="image/webp"
                />

                <img
                  src="./images/slider-mini/slider-mob/img-4-mob.jpeg"
                  alt="image"
                />
              </picture>
            </div>
          </div>

          <div class="swiper-button-prev-mini">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next-mini s">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
        <ul class="rooms__list-btn">
          <li class="rooms__item-btn">
            <button class="btn"><a href="./room.html">Детальніше</a></button>
          </li>
          <li class="rooms__item-btn">
            <button class="btn" data-modal-price-2p-open>Переглянути ціни</button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
