<section class="rooms">
  <ul class="rooms__list">
    <li class="room__lux">
      <div class="container">
        <div class="room">
          <div class="room__description wow animate__animated animate__fadeIn">
            <p class="room__pre-logo">Amet minim mollit non</p>
            <a class="room__logo" href="./index.html">mimiho</a>
            <h2 class="room__title">
              двомісний номер <span class="low__letter">люкс</span>
            </h2>
            <p class="room__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <picture class="wow animate__animated animate__fadeInTopRight">
            <source
              srcset="
                ./images/hotel-rooms/desktop/bedroom-web-d-1x.webp 1x,
                ./images/hotel-rooms/desktop/bedroom-web-d-2x.webp 2x
              "
              width="460"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/desktop/bedroom-d-1x.jpg,
                ./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x
              "
              width="460"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/hotel-rooms/tablet/bedroom-web-t-1x.webp 1x,
                ./images/hotel-rooms/tablet/bedroom-web-t-2x.webp 2x
              "
              width="400"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/tablet/bedroom-t-1x.jpg,
                ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x
              "
              width="400"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/hotel-rooms/mobile/bedroom-web-m-1x.webp 1x,
                ./images/hotel-rooms/mobile/bedroom-web-m-2x.webp 2x
              "
              width="246"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/mobile/bedroom-m-1x.jpg,
                ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x
              "
              width="246"
              type="image/jpeg"
            />
            <img
              class="room__bedroom"
              src="./images/hotel-rooms/mobile/bedroom-m-1x.jpg"
              alt="номер"
            />
          </picture>
        </div>
        <div class="room__thumb">
          <div class="swiper-mini swiper-mini__room swiper-mini__room--reverse">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper swiper-wrapper-mini">
              <!-- Slides -->
              <div
                class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
              >
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-1-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-1-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                    width="245"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-1-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-1-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/jpeg"
                    width="245"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-1-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-1-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-1-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-1-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/jpeg"
                    width="194"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-1-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-1-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    type="image/webp"
                    width="245"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-1-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div
                class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
              >
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-2-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-2-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-2-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-2-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-2-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-2-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/webp"
                    width="194"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-2-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-2-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/jpeg"
                    width="194"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-2-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-2-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-2-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div class="swiper-slide swiper-slide-mini">
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-3-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-3-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-3-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-3-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-3-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-3-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/webp"
                    width="194"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-3-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-3-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/jpeg"
                    width="194"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-3-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-3-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-3-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div class="swiper-slide swiper-slide-mini">
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-4-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-4-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-4-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-4-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-4-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-4-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/webp"
                    width="194"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-4-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-4-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    type="image/jpeg"
                    width="194"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-4-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-4-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-4-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>
            </div>

            <div class="swiper-button-prev-mini">
              <svg width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
              </svg>
            </div>
            <div class="swiper-button-next-mini s">
              <svg width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </div>
          <div class="room__button wow animate__animated animate__fadeIn">
            <a href="./room.html" class="btn room__detal">Детальніше</a>
            <button class="btn room__price" type="button">
              Переглянути ціни
            </button>
          </div>
          <!-- <div class="swiper-button-next-mini s">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
            </svg>
          </div> -->
        </div>
        <!-- <div class="room__button">
          <a href="./room.html" class="btn room__detal">Детальніше</a>
          <button class="btn room__price" type="button" data-modal-price-1-open>
            Переглянути ціни
          </button>
        </div> -->
      </div>
    </li>

    <li class="room__triple">
      <div class="container">
        <div class="room">
          <div class="room__description wow animate__animated animate__fadeIn">
            <p class="room__pre-logo">Amet minim mollit non</p>
            <a class="room__logo" href="./index.html">mimiho</a>
            <h2 class="room__title">трьохмісний номер</h2>
            <p class="room__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <picture
            class="wow animate__animated animate__fadeIn animate__fadeInBottomLeft"
          >
            <source
              srcset="
                ./images/hotel-rooms/desktop/bedroom-web-d-1x.webp 1x,
                ./images/hotel-rooms/desktop/bedroom-web-d-2x.webp 2x
              "
              width="460"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/desktop/bedroom-d-1x.jpg,
                ./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x
              "
              width="460"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/hotel-rooms/tablet/bedroom-web-t-1x.webp 1x,
                ./images/hotel-rooms/tablet/bedroom-web-t-2x.webp 2x
              "
              width="400"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/tablet/bedroom-t-1x.jpg,
                ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x
              "
              width="400"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/hotel-rooms/mobile/bedroom-web-m-1x.webp 1x,
                ./images/hotel-rooms/mobile/bedroom-web-m-2x.webp 2x
              "
              width="246"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/mobile/bedroom-m-1x.jpg,
                ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x
              "
              width="246"
              type="image/jpeg"
            />
            <img
              class="room__bedroom"
              src="./images/hotel-rooms/mobile/bedroom-m-1x.jpg"
              alt="номер"
            />
          </picture>
        </div>
        <div class="room__thumb room__thumb--reverse">
          <div class="swiper-mini swiper-mini__room">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper swiper-wrapper-mini">
              <!-- Slides -->
              <div
                class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
              >
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-1-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-1-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-1-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-1-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-1-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-1-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-1-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-1-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-1-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-1-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-1-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div
                class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
              >
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-2-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-2-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-2-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-2-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-2-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-2-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-2-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-2-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-2-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-2-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-2-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div class="swiper-slide swiper-slide-mini">
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-3-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-3-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-3-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-3-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-3-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-3-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-3-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-3-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-3-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-3-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-3-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div class="swiper-slide swiper-slide-mini">
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-4-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-4-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-4-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-4-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-4-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-4-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-4-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-4-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-4-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-4-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-4-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>
            </div>

            <div
              class="swiper-button-prev-mini swiper-button-prev-mini__reverse"
            >
              <svg width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
              </svg>
            </div>
            <div
              class="swiper-button-next-mini swiper-button-prev-next__reverse"
            >
              <svg width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </div>
          <div class="room__button wow animate__animated animate__fadeIn">
            <a href="./room.html" class="btn room__detal">Детальніше</a>
            <button class="btn room__price" type="button">
              Переглянути ціни
            </button>
          </div>
          <!-- 
          <div class="swiper-button-next-mini swiper-button-prev-next__reverse">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
            </svg>
          </div> -->
        </div>
        <!-- <div class="room__button">
          <a href="./room.html" class="btn room__detal">Детальніше</a>
          <button
            class="btn room__price"
            type="button"
            data-modal-price-3p-open
          >
            Переглянути ціни
          </button>
        </div> -->
      </div>
    </li>

    <li class="room__double">
      <div class="container">
        <div class="room">
          <div class="room__description wow animate__animated animate__fadeIn">
            <p class="room__pre-logo">Amet minim mollit non</p>
            <a class="room__logo" href="./index.html">MIMIHO</a>
            <h2 class="room__title">двохмісний номер</h2>
            <p class="room__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <picture class="wow animate__animated animate__fadeInBottomRight">
            <source
              srcset="
                ./images/hotel-rooms/desktop/bedroom-web-d-1x.webp 1x,
                ./images/hotel-rooms/desktop/bedroom-web-d-2x.webp 2x
              "
              width="460"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/desktop/bedroom-d-1x.jpg,
                ./images/hotel-rooms/desktop/bedroom-d-2x.jpg 2x
              "
              width="460"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/hotel-rooms/tablet/bedroom-web-t-1x.webp 1x,
                ./images/hotel-rooms/tablet/bedroom-web-t-2x.webp 2x
              "
              width="400"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/tablet/bedroom-t-1x.jpg,
                ./images/hotel-rooms/tablet/bedroom-t-2x.jpg 2x
              "
              width="400"
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/hotel-rooms/mobile/bedroom-web-m-1x.webp 1x,
                ./images/hotel-rooms/mobile/bedroom-web-m-2x.webp 2x
              "
              width="246"
              type="image/webp"
            />
            <source
              srcset="
                ./images/hotel-rooms/mobile/bedroom-m-1x.jpg,
                ./images/hotel-rooms/mobile/bedroom-m-2x.jpg 2x
              "
              width="246"
              type="image/jpeg"
            />
            <img
              class="room__bedroom"
              src="./images/hotel-rooms/mobile/bedroom-m-1x.jpg"
              alt="номер"
            />
          </picture>
        </div>
        <div class="room__thumb">
          <div class="swiper-mini swiper-mini__room swiper-mini__room--reverse">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper swiper-wrapper-mini">
              <!-- Slides -->
              <div
                class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
              >
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-1-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-1-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-1-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-1-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-1-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-1-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-1-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-1-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-1-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-1-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-1-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div
                class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
              >
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-2-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-2-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-2-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-2-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-2-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-2-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-2-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-2-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-2-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-2-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-2-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div class="swiper-slide swiper-slide-mini">
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-3-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-3-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-3-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-3-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-3-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-3-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-3-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-3-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-3-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-3-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-3-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>

              <div class="swiper-slide swiper-slide-mini">
                <picture>
                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-4-desc.webp    1x,
                      ./images/slider-mini/slider-desktop/img-4-desc@2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-desktop/img-4-desc.jpg    1x,
                      ./images/slider-mini/slider-desktop/img-4-desc@2х.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    width="245"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-4-tabl.webp    1x,
                      ./images/slider-mini/slider-tablet/img-4-tabl@2х.webp 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/webp"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-tablet/img-4-tabl.jpeg    1x,
                      ./images/slider-mini/slider-tablet/img-4-tabl@2х.jpeg 2x
                    "
                    media="(min-width: 1024px)"
                    width="194"
                    type="image/jpeg"
                  />

                  <source
                    srcset="
                      ./images/slider-mini/slider-mob/img-4-mob.webp    1x,
                      ./images/slider-mini/slider-mob/img-4-mob@2х.webp 2x
                    "
                    media="(min-width: 414px)"
                    width="245"
                    type="image/webp"
                  />

                  <img
                    src="./images/slider-mini/slider-mob/img-4-mob.jpeg"
                    alt="image"
                  />
                </picture>
              </div>
            </div>

            <div class="swiper-button-prev-mini">
              <svg width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
              </svg>
            </div>
            <div class="swiper-button-next-mini s">
              <svg width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
              </svg>
            </div>
          </div>
          <div class="room__button wow animate__animated animate__fadeIn">
            <a href="./room.html" class="btn room__detal">Детальніше</a>
            <button class="btn room__price" type="button">
              Переглянути ціни
            </button>
          </div>
          <!-- <div class="swiper-button-next-mini s">
            <svg width="32" height="32">
              <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
            </svg>
          </div> -->
        </div>
        <!-- <div class="room__button">
          <a href="./room.html" class="btn room__detal">Детальніше</a>
          <button
            class="btn room__price"
            type="button"
            data-modal-price-2p-open
          >
            Переглянути ціни
          </button>
        </div> -->
      </div>
    </li>
  </ul>
</section>
