<section class="menu">
  <div class="container container--lines-dark">
    <h2 class="menu__title" id="menu-price">Меню ресторану</h2>
    <div class="menu__wrap">
      <div
        class="menu__list-wrap first wow animate__animated animate__fadeInLeft"
      >
        <table class="menu__list">
          <tr>
            <td class="menu__subtitle first--sub">Гарячі страви</td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Борщ з телятини з квасолею</p>
              <p class="menu__text">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </td>
            <td class="menu__amount">
              400 г<span class="menu__price">240 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Суп сирний з куркою</p>
              <p class="menu__text">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </td>
            <td class="menu__amount">
              400 г<span class="menu__price">200 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Паста карбонара</p>
              <p class="menu__text">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </td>
            <td class="menu__amount">
              350 г<span class="menu__price">430 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Стейк зі свинини</p>
              <p class="menu__text">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </td>
            <td class="menu__amount">
              400 г<span class="menu__price">500 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Горбуша в соусі з білого вина</p>
              <p class="menu__text">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </td>
            <td class="menu__amount">
              400 г<span class="menu__price">400 грн</span>
            </td>
          </tr>
        </table>

        <table class="menu__list">
          <tr>
            <td class="menu__subtitle">Гарніри та закуски</td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Запечені овочі</p>
              <p class="menu__text">Кабачок, перець, помідор, баклажан</p>
            </td>
            <td class="menu__amount">
              200 г<span class="menu__price">230 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Картопля фрі</p>
              <p class="menu__text">Картопля, соус томатний</p>
            </td>
            <td class="menu__amount">
              150 г<span class="menu__price">160 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Картопля по-селянськи</p>
              <p class="menu__text">Картопля, спеції, соус пікантний</p>
            </td>
            <td class="menu__amount">
              150 г<span class="menu__price">160 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Хрумкі соління з бочки</p>
              <p class="menu__text">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейські
              </p>
            </td>
            <td class="menu__amount">
              250 г<span class="menu__price">350 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name long">Крильця курячі в медовому соусі</p>
              <p class="menu__text long">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </td>
            <td class="menu__amount">
              400 г<span class="menu__price">420 грн</span>
            </td>
          </tr>
        </table>
      </div>

      <div
        class="menu__list-wrap second wow animate__animated animate__fadeInRight"
      >
        <table class="menu__list">
          <tr>
            <td class="menu__subtitle second--sub">Салати</td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Цезар з куркою</p>
              <p class="menu__text">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </td>
            <td class="menu__amount">
              230 г<span class="menu__price">450 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Цезар з креветками</p>
              <p class="menu__text">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </td>
            <td class="menu__amount">
              230 г<span class="menu__price">300 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">Грецький салат</p>
              <p class="menu__text">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </td>
            <td class="menu__amount">
              230 г<span class="menu__price">280 грн</span>
            </td>
          </tr>
          <tr class="menu__item">
            <td class="menu__name-wrap">
              <p class="menu__name">М’ясний салат</p>
              <p class="menu__text">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранч
              </p>
            </td>
            <td class="menu__amount">
              230 г<span class="menu__price">300 грн</span>
            </td>
          </tr>
        </table>

        <table class="menu__deserts-list">
          <tr>
            <td class="menu__subtitle">Десерти</td>
          </tr>
          <tr class="menu__item deserts">
            <td class="menu__deserts-name">Торт наполеон</td>
            <td class="menu__amount">
              230 г<span class="menu__price">300 грн</span>
            </td>
          </tr>
          <tr class="menu__item deserts">
            <td class="menu__deserts-name second">Торт маковий</td>
            <td class="menu__amount">
              230 г<span class="menu__price">300 грн</span>
            </td>
          </tr>
          <tr class="menu__item deserts last">
            <td class="menu__deserts-name last">Тірамісу</td>
            <td class="menu__amount">
              120 г<span class="menu__price">260 грн</span>
            </td>
          </tr>
        </table>

        <h4 class="menu__subtitle">Напої</h4>
        <table class="menu__deserts-list">
          <tr class="menu__item drinks">
            <td class="menu__drinks-name">Чай чорний/зелений</td>
            <td class="menu__amount">
              500 мл<span class="menu__price">100 грн</span>
            </td>
          </tr>
          <tr class="menu__item drinks">
            <td class="menu__drinks-name">
              Еспресо
              <p>
                <td class="menu__amount">
                  30 мл<span class="menu__price">100 грн</span>
                </td>
              </p>
            </td>
          </tr>

          <tr class="menu__item drinks">
            <td class="menu__drinks-name">
              Американо
              <p>
                <td class="menu__amount">
                  150 мл<span class="menu__price">100 грн</span>
                </td>
              </p>
            </td>
          </tr>

          <tr class="menu__item drinks">
            <td class="menu__drinks-name">
              Капучино
              <p>
                <td class="menu__amount">
                  200 мл<span class="menu__price">160 грн</span>
                </td>
                <tr class="menu__item drinks">
                  <td class="menu__drinks-name last">
                    Лате
                    <p>
                      <td class="menu__amount">
                        200 мл<span class="menu__price">160 грн</span>
                      </td>
                    </p>
                  </td>
                </tr>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <button type="button" class="btn-menu menu--btn" data-modal-open-1>
      Забронювати столик
    </button>
  </div>
</section>
