<section class="restaurant-page-about-kitchen">
  <div class="about-kitchen">
    <div class="container--lines-light container">
      <h2 class="visually-hidden">About kitchen</h2>
      <div class="about-kitchen__wrap">
        <div
          class="about-kitchen__wrapper wow animate__animated animate__fadeIn"
        >
          <h2 class="about-kitchen__text">Amet minim mollit non</h2>

          <h3 class="about-kitchen__mimino">MIMINO</h3>

          <p class="about-kitchen__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.Velit officia consequat duis enim velit mollit.Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <div class="kitchen-image__kuchina">
          <picture
            class="about-kuchina__picture wow animate__animated animate__fadeInBottomRight"
          >
            <source
              srcset="
                ./images/about/kuchina.jpg    1x,
                ./images/about/kuchina@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/about/kuchina400.jpg    1x,
                ./images/about/kuchina400@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/about/kuchina244.jpg    1x,
                ./images/about/kuchina244@2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img src="./images/about/kuchina.jpg" alt="Зображення кухні" />
          </picture>
        </div>
      </div>

      <div class="about-kitchen__cover">
        <div
          class="meat-image__thumb about-kuchina__picture wow animate__animated animate__fadeInBottomLeft"
        >
          <picture>
            <source
              srcset="./images/about/meat.jpg 1x, ./images/about/meat@2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/about/meat350.jpg    1x,
                ./images/about/meat350@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/about/meat200.jpg    1x,
                ./images/about/meat200@2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img src="./images/about/meat.jpg" alt="Зображення м'яса" />
          </picture>
        </div>

        <p class="about-kitchen__descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="swiper-mini">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper swiper-wrapper-mini">
          <!-- Slides -->
          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInUp"
          >
            <picture>
              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider1-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider1-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider1-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider1-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider1-2x.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider1-1x.jpg"
                alt="image"
              />
            </picture>
          </div>

          <div
            class="swiper-slide swiper-slide-mini wow animate__animated animate__fadeInDown"
          >
            <picture>
              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider2-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider2-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider2-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider2-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider2-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider2-2x.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider2-1x.jpg"
                alt="image"
              />
            </picture>
          </div>

          <div class="swiper-slide swiper-slide-mini">
            <picture>
              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider3-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider3-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider3-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider3-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider3-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider3-2x.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider3-1x.jpg"
                alt="image"
              />
            </picture>
          </div>

          <div class="swiper-slide swiper-slide-mini">
            <picture>
              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider4-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider4-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider4-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider4-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider4-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider4-2x.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider4-1x.jpg"
                alt="image"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide-mini">
            <picture>
              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider5-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider5-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider5-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider5-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider5-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider5-2x.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider5-1x.jpg"
                alt="image"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide-mini">
            <picture>
              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider6-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider6-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider6-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider6-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider6-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider6-2x.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider6-1x.jpg"
                alt="image"
              />
            </picture>
          </div>
          <div class="swiper-slide swiper-slide-mini">
            <picture>
              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider7-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider7-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="245"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider7-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-tab/tab-restaurant-kitchen-slider7-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="194"
              />

              <source
                srcset="
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider7-1x.jpg 1x,
                  ./images/restaurant-page-slider/restaurant-mob/mob-restaurant-kitchen-slider7-2x.jpg 2x
                "
                media="(min-width: 414px)"
                type="image/jpeg"
                width="245"
              />

              <img
                src="./images/restaurant-page-slider/restaurant-desk/desk-restaurant-kitchen-slider7-1x.jpg"
                alt="image"
              />
            </picture>
          </div>
        </div>

        <div class="swiper-button-prev-mini">
          <svg width="32" height="32">
            <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next-mini">
          <svg width="32" height="32">
            <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
