<div class="cursor"></div>
<div class="cursor2"></div>

<div class="header-indicator">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</div>

<div class="up-button">
  <a id="up-button" class="up-button__link" href="#home">
    <svg
      class="animate__animated animate__infinite animate__pulse animate__slower up-button__icon"
      width="30"
      height="30"
    >
      <use href="/src/images/icons/circle-up.svg#icon-circle-up"></use>
    </svg>
  </a>
</div>
