<section class="amenities">
  <div class="container container--lines-light">
    <h1 class="amenities__title">Зручності у номері</h1>
    <p class="amenities__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <ul class="amenities__list">
      <li class="amenities__item">
        <h2 class="amenities__item-title">Загальні</h2>
        <div class="amenities__wrap">
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h2 class="amenities__item-title">Ванна кімната</h2>
        <div class="amenities__wrap">
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h2 class="amenities__item-title">Спальня</h2>
        <p class="amenities__item-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="amenities__item">
        <h2 class="amenities__item-title">Кухня</h2>
        <div class="amenities__wrap">
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h2 class="amenities__item-title">Медіа</h2>
        <p class="amenities__item-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="amenities__wrapper">
      <button class="amenities__btn" type="button" data-modal-room-open>
        Оформити бронювання
      </button>
      <a class="amenities__link" href="./hotel.html"
        >Повернутися до перегляду номерів<svg
          class="amenities__link-icon"
          width="24"
          height="24"
        >
          <use href="./images/icons/arrows.svg#icon-little-arrow"></use></svg
      ></a>
    </div>
  </div>
</section>
