<section class="amenities">
    <div class="container amenities-container">
        <h2 class="amenities__title">зручності у номері</h2>
        <p class="amenities__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint.
            Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <ul class="amenities-list list">
            <li class="amenities-list__item">
                <h3 class="amenities-list__title">загальні</h3>
                <div class="amenities-list__wrap">
                    <div class="amenities-list__text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                    <div class="amenities-list__text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
            </li>
            <li class="amenities-list__item">
                <h3 class="amenities-list__title">ванна кімната</h3>
                <div class="amenities-list__wrap amenities-list__wrap-extra">
                    <div class="amenities-list__text amenities-list__text-extra">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                    <div class="amenities-list__text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
            </li>
            <li class="amenities-list__item">
                <h3 class="amenities-list__title">спальня</h3>
                <div class="amenities-list__wrap">
                    <div class="amenities-list__text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.</p>
                    </div>
                </div>
            </li>
            <li class="amenities-list__item">
                <h3 class="amenities-list__title">кухня</h3>
                <div class="amenities-list__wrap">
                    <div class="amenities-list__text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.</p>
                    </div>
                    <div class="amenities-list__text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.</p>
                    </div>
                </div>
            </li>
            <li class="amenities-list__item">
                <h3 class="amenities-list__title">медіа</h3>
                <div class="amenities-list__wrap">
                    <div class="amenities-list__text">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint. Velit officia consequat duis enim velit
                            mollit.</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="amenities-nav">
            <button class="amenities__btn" type="button" data-modal-room-open>оформити бронювання</button>
            <a href="./hotel.html" class="amenities-nav__link link">
                Повернутися до перегляду номерів
                <svg class="amenities-nav__icon" width="24" height="24">
                    <use href="./images/icons/arrows.svg#icon-little-arrow"> </use>
                </svg>
            </a>
        </div>


    </div>
</section>