<section class="hero-room">
  <div class="gradient-overlay"></div>
  <div class="container container--hero-room">
    <div class="hero-room-content">
      <div class="text-content">
        <h1 class="hero-room__title">ДВОМІСНИЙ НОМЕР люкс</h1>
        <p class="hero-room__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <button
        type="button"
        class="btn btn--hero btn--hero-room"
        data-modal-price-open
      >
        Переглянути ціни
      </button>
    </div>
    <a href="https://goo.gl/maps/YTeQhtereSrorssH9" class="hero-room-address">
      <svg class="hero-room-address__icon" width="20" height="20">
        <use href="./images/icons/icons.svg#icon-location"></use>
      </svg>
      Україна, м. Полтава, вул. Маршала Бірюзова, 15
    </a>
    <ul class="hero-room-socials">
      <li class="hero-room-socials__item">
        <a href="" class="hero-room-socials__link">
          <svg class="hero-room-socials__icon" width="24" height="24">
            <use href="./images/icons/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-room-socials__item">
        <a href="" class="hero-room-socials__link">
          <svg class="hero-room-socials__icon" width="24" height="24">
            <use href="./images/icons/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-room-socials__item">
        <a href="" class="hero-room-socials__link">
          <svg class="hero-room-socials__icon" width="24" height="24">
            <use href="./images/icons/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="swiper room-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/hotel-slider/desk-slide-1.jpg    1x,
              ./images/hotel-slider/desk-slide-1@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="1280"
          />
          <source
            srcset="
              ./images/hotel-slider/tab-slide-1.jpg    1x,
              ./images/hotel-slider/tab-slide-1@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="1024"
          />
          <source
            srcset="
              ./images/hotel-slider/slide-1.jpg    1x,
              ./images/hotel-slider/slide-1@2x.jpg 2x
            "
            media="(min-width: 414px) and (max-width:1024px)"
            width="414"
          />
          <img
            class="swiper__img"
            src="./images/hotel-slider/tab-slide-1.jpg"
            alt="Двухмісний номер люкс"
            width="414"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/hotel-slider/desk-slide-2.jpg    1x,
              ./images/hotel-slider/desk-slide-2@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="1280"
          />
          <source
            srcset="
              ./images/hotel-slider/tab-slide-2.jpg    1x,
              ./images/hotel-slider/tab-slide-2@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="1024"
          />
          <source
            srcset="
              ./images/hotel-slider/slide-2.jpg    1x,
              ./images/hotel-slider/slide-2@2x.jpg 2x
            "
            media="(min-width: 414px) and (max-width:1024px)"
            width="414"
          />
          <img
            class="swiper__img"
            src="./images/hotel-slider/tab-slide-2.jpg"
            alt="Двухмісний номер люкс спальня"
            width="414"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/hotel-slider/desk-slide-3.jpg    1x,
              ./images/hotel-slider/desk-slide-3@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="1280"
          />
          <source
            srcset="
              ./images/hotel-slider/tab-slide-3.jpg    1x,
              ./images/hotel-slider/tab-slide-3@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="1024"
          />

          <source
            srcset="
              ./images/hotel-slider/slide-3.jpg    1x,
              ./images/hotel-slider/slide-3@2x.jpg 2x
            "
            media="(min-width: 414px) and (max-width:1024px)"
            width="414"
          />
          <img
            class="swiper__img"
            src="./images/hotel-slider/tab-slide-3.jpg"
            alt="Двухмісний номер люкс 3"
            width="414"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/hotel-slider/desk-slide-4.jpg    1x,
              ./images/hotel-slider/desk-slide-4@2x.jpg 2x
            "
            media="(min-width:1280px)"
            width="1280"
          />
          <source
            srcset="
              ./images/hotel-slider/tab-slide-4.jpg    1x,
              ./images/hotel-slider/tab-slide-4@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="1024"
          />
          <source
            srcset="
              ./images/hotel-slider/slide-4.jpg    1x,
              ./images/hotel-slider/slide-4@2x.jpg 2x
            "
            media="(min-width: 414px) and (max-width:1024px)"
            width="414"
          />
          <img
            class="swiper__img"
            src="./images/hotel-slider/tab-slide-4.jpg"
            alt="Двухмісний номер люкс 3"
            width="414"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/hotel-slider/desk-slide-5.jpg    1x,
              ./images/hotel-slider/desk-slide-5@2x.jpg 2x
            "
            media="(min-width:1024px)"
            width="1280"
          />
          <source
            srcset="
              ./images/hotel-slider/tab-slide-5.jpg    1x,
              ./images/hotel-slider/tab-slide-5@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="1024"
          />

          <source
            srcset="
              ./images/hotel-slider/slide-5.jpg    1x,
              ./images/hotel-slider/slide-5@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width:1280px)"
            width="414"
          />

          <img
            class="swiper__img"
            src="./images/hotel-slider/tab-slide-5.jpg"
            alt="Двухмісний номер люкс 3"
            width="414"
          />
        </picture>
      </div>
    </div>

    <div class="swiper-button-prev">
      <svg class="swiper__icon icon">
        <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg class="swiper__icon icon">
        <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
