<section class="hero room-hero">
  <div class="hero__container container">
    <div class="hero__box">
      <h1 class="hero__title">
        <span class="text-upper">ДВОМІСНИЙ НОМЕР</span> Люкс
      </h1>
      <p class="hero__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="contact-wraper">
      <div class="address-box">
        <a
          class="address-box__link"
          href="https://goo.gl/maps/XkBfc9FVBQZGHEfTA"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="address-box__icon icon">
            <use href="./images/icons/icons.svg#icon-location"></use>
          </svg>
          Україна, м. Полтава, <br />вул. Маршала Бірюзова, 15
        </a>
      </div>
      <ul class="social-list">
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Інстаграм"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Фейсбук"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a
            href="#"
            target="_blank"
            aria-label="Телеграм"
            class="social-list__link"
          >
            <svg class="social-list__icon icon">
              <use href="./images/icons/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="btn" type="button" data-modal-price-open>Переглянути ціни</button>
    </div>
    <div class="swiper room-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel-slider/desk-slide-1.jpg    1x,
                ./images/hotel-slider/desk-slide-1@2x.jpg 2x
              "
              media="(min-width:1280px)"
              sizes="1280"
            />
            <source
              srcset="
                ./images/hotel-slider/desk-slide-1.jpg    1x,
                ./images/hotel-slider/desk-slide-1@2x.jpg 2x
              "
              media="(min-width: 1024px) and (max-width:1280px)"
              sizes="1280"
            />
            <img
              class="swiper__img"
              srcset="./images/hotel-slider/slide-1@2x.jpg 2x"
              src="./images/hotel-slider/slide-1.jpg"
              alt="Двухмісний номер люкс"
              width="414"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel-slider/desk-slide-2.jpg    1x,
                ./images/hotel-slider/desk-slide-2@2x.jpg 2x
              "
              media="(min-width:1280px)"
              sizes="1280"
            />
            <source
              srcset="
                ./images/hotel-slider/desk-slide-2.jpg    1x,
                ./images/hotel-slider/desk-slide-2@2x.jpg 2x
              "
              media="(min-width: 1024px) and (max-width:1280px)"
              sizes="1280"
            />
            <img
              class="swiper__img"
              srcset="./images/hotel-slider/slide-2@2x.jpg 2x"
              src="./images/hotel-slider/slide-2.jpg"
              alt="Двухмісний номер люкс спальня"
              width="414"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel-slider/desk-slide-3.jpg    1x,
                ./images/hotel-slider/desk-slide-3@2x.jpg 2x
              "
              media="(min-width:1280px)"
              sizes="1280"
            />
            <source
              srcset="
                ./images/hotel-slider/desk-slide-3.jpg    1x,
                ./images/hotel-slider/desk-slide-3@2x.jpg 2x
              "
              media="(min-width: 1024px) and (max-width:1280px)"
              sizes="1280"
            />
            <img
              class="swiper__img"
              srcset="./images/hotel-slider/slide-3@2x.jpg 2x"
              src="./images/hotel-slider/slide-3.jpg"
              alt="Двухмісний номер люкс 3"
              width="414"
            />
          </picture>
        </div>
      </div>

      <div class="swiper-button-prev">
        <svg class="swiper__icon icon">
          <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper__icon icon">
          <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
